{% extends 'base.html.twig' %}

{% block title %}Bastien Gondard
{% endblock %}

{% block body %}

	<div class="presentation text-center" id="profil">
		<div class="col-10 offset-1 d-flex">
			<div class="col-4">
				<img src="{{ asset('images/cv.png') }}" alt="" class="img-fluid photo">
			</div>
			<div class="col-6 offset-1 mt-5 pt-5">
				<h1 class="m-2">Bastien Gondard</h1>
				<p class="mt-5">
					Âgé de 24 ans, je souhaite poursuivre ma formation à vos côtés en alternance. Ayant validé mon titre professionnel en février 2023, mon objectif est de consolider mes acquis et d'acquérir de nouvelles compétences tout en gagnant de l’expérience professionnel.
				</p>
			</div>
		</div>
		<div class="interets col-6 offset-6 pt-3">
			<h3 class="h2">Centres d'intérêts</h3>
			<div class="d-flex justify-content-around mt-3">
				<div class="piano d-flex activite">
			
						<img src="{{ asset('images/piano-simple.png')}}" class="img-fluid" alt=""> 
						<em class="my-auto p-2">Piano</em>
				</div>
				<div class="sports d-flex activite">

					<img src="{{ asset('images/camping.png')}}" class="img-fluid" alt="">
					<em class="my-auto p-2">Trek</em>
				</div>
				<div class="voyage d-flex activite">
		
					<img src="{{ asset('images/voyage-avec-avion.png')}}" class="img-fluid" alt="">
					<em class="my-auto p-2">Nouvelle-Zélande</em>
				</div>
			</div>
		</div>
	</div>


	{# FORMATIONS #}

	<div class="formations text-center p-5" id="formations">
		<h3 class="m-5 py-3">Formations</h3>

		<div class="ligne1 col-10 offset-1 d-flex justify-content-around">
			<div class="rncp col-5 d-flex px-5 justify-content-center my-auto">
				<div class="logoRncp col-6">
					<img src="{{ asset('images/rncp.png') }}" class="img-fluid" alt="">
				</div>
				<div class="col-7 my-auto">
					<strong>Titre Professionnel – Développeur Web et Web Mobile – Niveau V</strong>
					<br>
					<em>Formation 31 – 2023</em>
				</div>
			</div>
			<div class="openClassroom col-5 d-flex  justify-content-around my-auto">
				<div class="logoOpenclassroom my-auto col-3">
					<img src="{{ asset('images/openclassroom.jpeg') }}" class="img-fluid" alt="">
				</div>
				<div class="col-6 my-auto">
					<strong>Certificats HTML5 et CSS3, JavaScript</strong>
					<br>
					<em>OpenClassrooms – 2021</em>
				</div>
			</div>
		</div>

		<div class="ligne2 col-10 offset-1 d-flex justify-content-around my-5">
			<div class="staps col-5 d-flex justify-content-around my-auto">
				<div class="logoStaps col-2 my-auto">
					<img src="{{ asset('images/Logo-Sport-Mup.png') }}" class="img-fluid" alt="">
				</div>
				<div class="col-6 my-auto">
					<strong>Licence 3 STAPS</br>
					Management du Sport</strong>
				<br>
				<em>Université de Poitiers – 2020</em>
			</div>
		</div>

		<div class="vh col-5 d-flex justify-content-around my-auto">
			<div class="logoVh my-auto col-3">
				<img src="{{ asset('images/vh.png') }}" class="img-fluid" alt="">
			</div>
			<div class="col-6 my-auto">
				<strong>Baccalauréat Scientifique Spécialité Physique-Chimie</strong>
				<br>
				<em>Victor-Hugo, Poitiers – 2017</em>
			</div>
		</div>
	</div>
</div>


{# LANGAGES #}

<div class="langages text-center" id="langages">
	<h3 class="m-5">Langages</h3>

	<div class="col-8 offset-2">
		<div class="logoLangages1 d-flex my-5 justify-content-around">
			<div class="slid_1 col-1"><img src="{{ asset('images/symfony.png') }}" class="img-fluid" alt=""></div>
			
			<div class="slid_6 col-1 my-auto m-2"><img src="{{ asset('images/php.png') }}" class="img-fluid" alt=""></div>
			<div class="slid_8 col-2 my-auto"><img src="{{ asset('images/wordpress.png') }}" class="img-fluid" alt=""></div>
			<div class="slid_7 col-1 my-auto"><img src="{{ asset('images/sql.png') }}" class="img-fluid" alt=""></div>
		</div>
		<div class="logoLangages2 d-flex justify-content-around">
		<div class="slid_2 col-1 my-auto"><strong class="h3">Bootstrap</strong><img src="{{ asset('images/bootstrap.png') }}" class="img-fluid mt-2" alt="">
			</div>
			<div class="slid_3 col-1"><img src="{{ asset('images/css.png') }}" class="img-fluid" alt=""></div>
			<div class="slid_4 col-1"><img src="{{ asset('images/html.png') }}" class="img-fluid" alt=""></div>
			<div class="slid_5 col-1"><img src="{{ asset('images/js.png') }}" class="img-fluid" alt=""></div>

		</div>

	</div>

</div>


{# EXPERIENCES #}

<div class="experiences text-center pb-5" id="experiences">
	<h3 class="m-5 pt-5">Porfolio</h3>
	<div class="d-flex justify-content-around">
		<div class="luca col-3">
			<h3 class="h2 p-2">Ecommerce</h3>

			<!-- Button trigger modal -->
			<button type="button" class="btn overlay" data-bs-toggle="modal" data-bs-target="#exampleModal">
				<img src="{{ asset('images/luca/home.png') }}" class="img-fluid" alt="">
				<div class="h3 content col-10 offset-1"><em>"Voici un Ecommerce de maroquinerie réalisé pour une amie. Vous pourrez voir dans ce caroussel la partie utilisateur dans un premier temps, puis la partie administration. Ce projet a été développé sous Symfony et Bootstrap avec l'utilisation de Stripe pour le paiement. Il possède également la fonctionnalité d'envoie de mail dans le but de personnaliser les artciles à la demande."</em></div>
			</button>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

						</div>
						<div class="modal-body">
							<div id="carouselExample" class="carousel slide">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img src="{{ asset('images/luca/home.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="{{ asset('images/luca/login.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="{{ asset('images/luca/list.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="{{ asset('images/luca/details.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="{{ asset('images/luca/modal.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="{{ asset('images/luca/cart.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="{{ asset('images/luca/paiement.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="{{ asset('images/luca/recapOrder.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="{{ asset('images/luca/adminOrder.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="{{ asset('images/luca/addBag.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item ">
										<img src="{{ asset('images/luca/adminList.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="{{ asset('images/luca/adminUser.png') }}" class="d-block w-100" alt="...">
									</div>
								</div>
								<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>


		<div class="vintageInde col-3">
			<h3 class="h2 p-2">Projet d'entreprise</h3>
			<button type="button" class="btn overlay" data-bs-toggle="modal" data-bs-target="#exampleModal2">
				<img src="{{ asset('images/vintageInde.png') }}" class="img-fluid" alt="">
				<div class="h3 content1 col-10 offset-1"><em>"Ce projet One Page est également réalisé avec Symfony. C'est un site vitrine qui a pour but de présenter une future entreprise sur le point d'être créée"</em></div>
			</button>

			{# MODAL #}
			<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="carouselExample" class="carousel slide">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img src="{{ asset('images/vintageInde.png') }}" class="d-block w-100" alt="...">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="bookBase col-3">
			<h3 class="h2 p-2">Base de données</h3>

			<!-- Button trigger modal -->
			<button type="button" class="btn overlay my-auto" data-bs-toggle="modal" data-bs-target="#exampleModal3">
				<img src="{{ asset('images/bookBase/accueil.png') }}" class="img-fluid" alt="">
				<div class="h3 content2 col-10 offset-1"><em>"Je suis actuellement sur un projet d'interface de gestion de données. Je commence par coder les fonctionnalités, puis je développerai ensuite le front end de l'application."</em></div>
			</button>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

						</div>
						<div class="modal-body">
							<div id="carouselExampleFade" class="carousel slide carousel-fade">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img src="{{ asset('images/bookBase/accueil.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="{{ asset('images/bookBase/list.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="{{ asset('images/bookBase/addBook.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="{{ asset('images/bookBase/searchBar.png') }}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="{{ asset('images/bookBase/searchResult.png') }}" class="d-block w-100" alt="...">
									</div>
								
								</div>
								<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="up">
	<a href="#" class="btn">
		<i class="fa-solid fa-arrow-up"></i>
	</a>
</div>{% endblock %}
